* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.baner {
    display: flex;
    background-color: rgb(203, 38, 113);
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    color: white;
    width: 350px;
    align-items: center;
}

.item1 h3 {
    font-size: 40px;

}

.item1 span{
    opacity: 0.7;
}
.item1 p{
    padding-top: 10px;
}

.item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    width: 150px;
    margin-right: 30px;
}

.nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(247, 237, 223);
    padding: 0px 40px;

}

a{
    text-decoration: none;  
    color: black;
}

/*flexbox*/

.container{
    display: flex;
    flex-direction: column;
    
    
}

.item3{
    display: flex;
    flex-direction: row;
   
    background-color:rgb(203, 38, 113) ;
   
}

.a3{
    font-size: 50px;
    
    color: white;
   width: 450px;
    padding: 100px;

}
#naslov{
    font-size: 75px;
    font-weight: bold;
}

.a3 button{
    padding: 10px;
    color: rgb(203, 38, 113) ;
    border-radius: 8px;
}

.cena1{
    background-color: white;
    margin-top: 90px;
    margin-left: 150px;
    width: 250px;
    height: 200px;
    color:rgb(203, 38, 113) ;
    font-size: 25px;
    text-align: center;
}

#samsung{
    font-size: 30px;
    font-weight: bold;
}
#nula{
    font-size: 80px;
    font-weight: bold;
}
.cena1 span{
    text-decoration: line-through;
}
.cena2{
    background-color: white;
    margin-top: 10px;
    margin-left: 150px;
    width: 250px;
    height: 160px;
    color:rgb(203, 38, 113) ;
    font-size: 25px;
    text-align: center;
}


.sitno{
    color: white;
    margin-left: 150px;

}

.b3{
    padding-top: 20px;
}

.b3 img{
    border-radius: 5px;
}

#gratis{
    font-size: 70px;
    font-weight: bold;
}

#prvaslika:hover{
    color: black;
    cursor: pointer;
    
}
